<section class="vf-content component-library-notes | vf-stack vf-stack--400">

    <!-- no special content -->

    <section class="vf-intro" id="about">

        <div>
            <!-- empty -->
        </div>

        <div class="vf-stack">

            <h1 class="vf-intro__heading vf-intro__heading--has-tag">Button

 <a href="https://stable.visual-framework.dev/guidance/component-types/" class="vf-badge vf-badge--primary vf-badge--phases">element</a>
            </h1>
            <p class="vf-lede">
                <span>Buttons are clickable elements that trigger an action. They can communicate calls to action, are visually prominent, and allow users to interact with the pages in various ways.</span>
            </p>

            <p class="vf-intro__text">
                <a class="vf-link" href="https://github.com/visual-framework/vf-core/tree/develop/components/vf-button"><img src="https://img.shields.io/badge/github-vf--button-blue" alt="github location"/></a>
                <a class="vf-link" href="https://badge.fury.io/js/%40visual-framework%2Fvf-button"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-button.svg" alt="npm version"></a>
            </p>
        </div>
    </section>

    <hr class="vf-divider">

    <section class="embl-grid">
        <div class="vf-section-header">
            <h2 class="vf-section-header__heading" id="usage"> Usage</h2>
        </div>
        <article>
            <p>The <code>vf-button</code> component can be used with forms on a page and as a prominent 'call to action' link that goes to another page.</p>
            <h3>When To Use</h3>
            <p>A button can be used to submit data or take action and as a link to navigate to another page.</p>
            <p>Use the primary button for the principal call to action on a page or form. Avoid having multiple primary buttons on the same page or form.</p>
            <p>Use secondary buttons for secondary calls to action. Pages with too many prominent calls to action <a href="https://design-system.service.gov.uk/components/button/">make it hard for users to know what to do next</a>. Before adding lots of secondary buttons, try to simplify the page or break the content down across multiple pages.</p>
            <p>Tertiary buttons can be used for less prominent actions. Consider using a link instead of a button to send users to another page, if this action is not very important.</p>
            <p>As the <code>vf-button</code> is relatively large, depending on the context, you may wish to use the <code>vf-button--small</code> variant instead.</p>
            <h4>Alignment</h4>
            <p>As a general rule, the <code>vf-button</code> should be left aligned on the page and when used inside a larger component.</p>
            <p>When used in conjunction with a single form input, as in <a href="https://stable.visual-framework.dev/components/vf-search/">the vf-search component</a>, the <code>vf-button</code> needs to be inline with the input and to the right of it.</p>
            <p>When a <code>vf-button</code> is used in a banner (e.g. to accept cookies) it needs to follow the content and be right aligned.</p>
            <h3>When Not To Use</h3>
            <p>If using the <code>vf-button</code> as a link do not use it to link to content on the same page. Use the <a href="https://stable.visual-framework.dev/components/vf-link-list/#vf-link-list--easy">
                    <code>vf-link-list</code>
                </a> component instead.</p>
            <h3>Label</h3>
            <p>Write button text in <a href="https://blog.prototypr.io/sentence-case-or-title-case-5bd581f05d88">sentence case</a>, describing the action it performs. For example:</p>
            <ul>
                <li>‘Apply now’ to apply for a job.</li>
                <li>‘Create account’ to create an account.</li>
                <li>‘Sign in’ to an account that a user has already created.</li>
                <li>‘Save and continue’ when pressing the button will save the information that the user has entered.</li>
            </ul>
            <p>Try to keep the text on the button short and clear.</p>
            <h3>Related documentation</h3>
            <p>The guidelines on buttons in <a href="https://design-system.service.gov.uk/components/button/">the GOV.UK Design System</a> and <a href="https://www.carbondesignsystem.com/components/button/usage/">the Carbon Design System</a> include additional advice on when and how to use buttons.</p>
            <h3>Angular</h3>
            <p>Latest Angular package (3.0.0-alpha.0) was generated with Angular version 15.2.0 and has been tested on application with Angular version 15.2.0.</p>
            <ol>
                <li>install <code>yarn add @visual-framework/vf-button</code>
                </li>
                <li>import in your app.module<pre><code>import {{ '{' }} VfButtonAngularModule {{ '}' }} from '@visual-framework/vf-button/vf-button.angular';

@NgModule({{ '{' }}
  imports: [VfButtonAngularModule, YourOtherModules],
  ...
{{ '}' }})
</code></pre>
                </li>
                <li>can be used as<pre><code>&lt;vf-button [text]=&quot;'Primary Button'&quot; [theme]=&quot;'primary'&quot;&gt;&lt;/vf-button&gt;
</code></pre>
                </li>
                <li>add to your styles.scss<pre><code>@import '../node_modules/@visual-framework/vf-sass-config/index.scss';
@import &quot;../node_modules/@visual-framework/vf-button/vf-button.scss&quot;;
</code></pre>
(you should also make use of <a href="https://stable.visual-framework.dev/components/vf-sass-starter">vf-sass-starter</a>)</li>
            </ol>
            <p>Depending on the success of this method, we plan to add standardized guidance to the component library and component generator.</p>
            <p>Usage:</p>
            <pre><code>&lt;vf-button [text]=&quot;'Primary Button'&quot; [theme]=&quot;'primary'&quot;&gt;&lt;/vf-button&gt;
</code></pre>

        </article>
    </section>
    <hr class="vf-divider">
    <h2 id="variants" class="vf-text vf-text-heading--1 vf-text--invert">Variants</h2>

    <div class="vf-section-header">
        <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-button--primary">
            <a href="#vf-button--primary">Primary variant</a>
            <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
            </svg>
        </h2>
    </div>

    <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

        <section class="vf-grid vf-grid__col-3">
            <div>
                <!--empty-->
            </div>

            <div class="vf-u-padding--400"
                    style="overflow: auto; background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
                >

                <vf-button [text]="'Primary Button'" [theme]="'primary'"></vf-button>

            </div>

            <div>
                <!--empty-->
            </div>
        </section>

        <details class="vf-details vf-box vf-box--outline">
            <summary class="vf-details--summary">Angular syntax</summary>

            <pre><code>&lt;vf-button [text]=&quot;&#39;Primary Button&#39;&quot; [theme]=&quot;&#39;primary&#39;&quot;&gt;&lt;/vf-button&gt;
                  </code></pre>

        </details>
    </article>

    <div class="vf-section-header">
        <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-button--secondary">
            <a href="#vf-button--secondary">Secondary variant</a>
            <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
            </svg>
        </h2>
    </div>

    <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

        <section class="vf-grid vf-grid__col-3">
            <div>
                <!--empty-->
            </div>

            <div class="vf-u-padding--400"
                    style="overflow: auto; background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
                >

                <vf-button [text]="'Secondary Button'" [theme]="'secondary'"></vf-button>

            </div>

            <div>
                <!--empty-->
            </div>
        </section>

        <details class="vf-details vf-box vf-box--outline">
            <summary class="vf-details--summary">Angular syntax</summary>

            <pre><code>&lt;vf-button [text]=&quot;&#39;Secondary Button&#39;&quot; [theme]=&quot;&#39;secondary&#39;&quot;&gt;&lt;/vf-button&gt;
                  </code></pre>

        </details>
    </article>

    <div class="vf-section-header">
        <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-button--tertiary">
            <a href="#vf-button--tertiary">Tertiary variant</a>
            <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
            </svg>
        </h2>
    </div>

    <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

        <section class="vf-grid vf-grid__col-3">
            <div>
                <!--empty-->
            </div>

            <div class="vf-u-padding--400"
                    style="overflow: auto; background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
                >

                <vf-button [text]="'Tertiary Button'" [theme]="'tertiary'"></vf-button>

            </div>

            <div>
                <!--empty-->
            </div>
        </section>

        <details class="vf-details vf-box vf-box--outline">
            <summary class="vf-details--summary">Angular syntax</summary>

            <pre><code>&lt;vf-button [text]=&quot;&#39;Tertiary Button&#39;&quot; [theme]=&quot;&#39;tertiary&#39;&quot;&gt;&lt;/vf-button&gt;
                  </code></pre>

        </details>
    </article>

    <div class="vf-section-header">
        <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-button--small">
            <a href="#vf-button--small">Small variant</a>
            <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
            </svg>
        </h2>
    </div>

    <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

        <section class="vf-grid vf-grid__col-3">
            <div>
                <!--empty-->
            </div>

            <div class="vf-u-padding--400"
                    style="overflow: auto; background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
                >

                <vf-button [text]="'Small Button'" [theme]="'primary'" size="sm"></vf-button>

            </div>

            <div>
                <!--empty-->
            </div>
        </section>

        <details class="vf-details vf-box vf-box--outline">
            <summary class="vf-details--summary">Angular syntax</summary>

            <pre><code>&lt;vf-button [text]=&quot;&#39;Small Button&#39;&quot; [theme]=&quot;&#39;primary&#39;&quot; size=&quot;sm&quot;&gt;&lt;/vf-button&gt;
                  </code></pre>

        </details>
    </article>

    <div class="vf-section-header">
        <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-button--link">
            <a href="#vf-button--link">Link variant</a>
            <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
            </svg>
        </h2>
    </div>

    <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

        <section class="vf-grid vf-grid__col-3">
            <div>
                <!--empty-->
            </div>

            <div class="vf-u-padding--400"
                    style="overflow: auto; background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
                >

                <vf-button [text]="'Link'" [theme]="'link'"></vf-button>

            </div>

            <div>
                <!--empty-->
            </div>
        </section>

        <details class="vf-details vf-box vf-box--outline">
            <summary class="vf-details--summary">Angular syntax</summary>

            <pre><code>&lt;vf-button [text]=&quot;&#39;a link variant&#39;&quot; [theme]=&quot;&#39;link&#39;&quot;&gt;&lt;/vf-button&gt;
                  </code></pre>

        </details>
    </article>