<section class="vf-content component-library-notes | vf-stack vf-stack--400">
    <section class="vf-intro" id="about">
        <div>
            <!-- empty -->
        </div>

        <div class="vf-stack">
            <h1 class="vf-intro__heading vf-intro__heading--has-tag">Badge
                <a href="https://stable.visual-framework.dev/guidance/component-types/" class="vf-badge vf-badge--primary vf-badge--phases">element</a>
            </h1>
            <p class="vf-lede">
                <span>The <code>vf-badge</code> component is used to denote if a page, section, or link has a production state of <code>alpha</code>, <code>beta</code> or other information.</span>
            </p>

            <p class="vf-intro__text">
                <a class="vf-link" href="https://github.com/visual-framework/vf-core/tree/develop/components/vf-badge"><img src="https://img.shields.io/badge/github-vf--badge-blue" alt="github location"/></a>
                <a class="vf-link" href="https://badge.fury.io/js/%40visual-framework%2Fvf-badge"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-badge.svg" alt="npm version"/></a>
            </p>
        </div>
    </section>

    <hr class="vf-divider">

    <section class="embl-grid">
        <div class="vf-section-header">
            <h2 class="vf-section-header__heading" id="usage"> Usage</h2>
        </div>
        <article>
            <p>The <code>vf-badge</code> accepts a single text item of content.</p>
            <table>
                <thead>
                    <tr>
                        <th>content type</th>
                        <th>variable</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>text</td>
                        <td>
                            <code>text</code>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h3>Links</h3>
            <p>The <code>vf-badge</code> component can also be a link using <code>&lt;a class=&quot;vf-badge&quot; href=&quot;&quot;&gt;badge title&lt;/a&gt;</code>.</p>
            <h3>Nunjucks and yml options</h3>
            <h4>Nunjucks and YML variables available</h4>
            <table>
                <thead>
                    <tr>
                        <th>variable</th>
                        <th>options</th>
                        <th>default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>text</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>badge_href</td>
                        <td></td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>theme</td>
                        <td>'primary'</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>style</td>
                        <td>'outline'</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>override_class</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>id</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h3>Angular</h3>
            <p>As of version 3.0.0-alpha.0 vf-badge has experimental Angular support.
This package was generated with Angular version 15.2.0 and has been tested on application with Angular version 15.2.0.</p>
            <ol>
                <li>install <code>yarn add @visual-framework/vf-badge</code>
                </li>
                <li>import in your app.module<pre><code>import {{ '{' }} VfBadgeAngularModule {{ '}' }} from '@visual-framework/vf-badge/vf-badge.angular';

@NgModule({{ '{' }}
  imports: [VfBadgeAngularModule, YourOtherModules],
  ...
{{ '}' }})
</code></pre>
                </li>
                <li>can be used as<pre><code>&lt;vf-badge [text]=&quot;'alpha'&quot; [theme]=&quot;'primary'&quot; [id]=&quot;'Badge1'&quot;&gt;&lt;/vf-badge&gt;
</code></pre>
                </li>
                <li>add to your styles.scss<pre><code>@import '../node_modules/@visual-framework/vf-sass-config/index.scss';
@import &quot;../node_modules/@visual-framework/vf-badge/vf-badge.scss&quot;;
</code></pre>
you should also install <a href="https://stable.visual-framework.dev/components/vf-sass-starter">vf-sass-starter</a> for the styles</li>
            </ol>
            <p>Usage:</p>
            <pre><code>&lt;vf-badge [text]=&quot;'alpha'&quot; [theme]=&quot;'primary'&quot; [id]=&quot;'Badge1'&quot;&gt;&lt;/vf-badge&gt;
</code></pre>

        </article>
    </section>

    <hr class="vf-divider">

    <h2 id="variants" class="vf-text vf-text-heading--1 vf-text--invert">Variants</h2>

    <div class="vf-section-header">
        <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-badge--primary">
            <a href="#vf-badge--primary">Primary variant</a>
            <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
            </svg>
        </h2>
    </div>

    <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

        <section class="vf-grid vf-grid__col-3">
            <div>
                <!--empty-->
            </div>

            <div class="vf-u-padding--400"
                    style="overflow: auto; background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
                >

                <vf-badge [text]="'alpha'" [theme]="'primary'" [id]="'Badge1'"/>
            </div>

            <div>
                <!--empty-->
            </div>
        </section>

        <details class="vf-details vf-box vf-box--outline">
            <summary class="vf-details--summary">Angular syntax</summary>

            <pre><code>&lt;vf-badge [text]=&quot;&#39;alpha&#39;&quot; [theme]=&quot;&#39;primary&#39;&quot; [id]=&quot;&#39;Badge1&#39;&quot;/&gt;
                  </code></pre>

        </details>
    </article>

    <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

        <hr class="vf-divider">
        <h2 id="examples" class="vf-text vf-text-heading--1 vf-text--invert">Examples</h2>

        <section class="vf-grid vf-grid__col-3">

            <section>
                <div class="vf-section-header">
                    <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-badge--secondary">
                        <a href="#vf-badge--secondary">Secondary</a>
                        <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
                        </svg>
                    </h2>
                </div>

                <article class="vf-u-padding--400"
                  style="background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
              >

                    <vf-badge [text]="'alpha'" [theme]="'secondary'" [style]="['primary', 'secondary']"></vf-badge>
                </article>

            </section>

            <section>
                <div class="vf-section-header">
                    <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-badge--tertiary">
                        <a href="#vf-badge--tertiary">Tertiary</a>
                        <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
                        </svg>
                    </h2>
                </div>

                <article class="vf-u-padding--400"
                  style="background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
              >

                    <vf-badge [text]="'alpha'" [theme]="'tertiary'" [id]="'Badge2'"></vf-badge>
                </article>

            </section>

            <section>
                <div class="vf-section-header">
                    <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-badge--link---primary">
                        <a href="#vf-badge--link---primary">Link Primary</a>
                        <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
                        </svg>
                    </h2>
                </div>

                <article class="vf-u-padding--400"
                  style="background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
              >

                    <vf-badge [text]="'beta'" [theme]="'primary'" [id]="'BadgeHref'" [badge_href]="'JavaScript:Void(0);'"></vf-badge>

                </article>

            </section>

        </section>

        <details class="vf-details">
            <summary class="vf-details--summary" id="installation">Installation info</summary>
            <p>This repository is distributed with <a href="https://www.npmjs.com/">npm</a>. After <a href="https://www.npmjs.com/get-npm">installing npm</a> and <a href="https://classic.yarnpkg.com/en/docs/install">yarn</a>, you can install <code>vf-profile</code> with this command.</p>
            <pre><code>$ yarn add --dev @visual-framework/vf-badge
</code></pre>
            <h3>Sass/CSS</h3>
            <p>The style files included are written in <a href="https://sass-lang.com/">Sass</a>. If you're using a VF-core project, you can import it like this:</p>
            <pre><code>@import &quot;@visual-framework/vf-badge/index.scss&quot;;
</code></pre>
            <p>Make sure you import Sass requirements along with the modules. You can use a <a href="https://stable.visual-framework.dev/building/">project boilerplate</a> or the <a href="https://stable.visual-framework.dev/components/vf-sass-starter/">
                    <code>vf-sass-starter</code>
                </a>
            </p>
        </details>
        <div class="vf-stack vf-stack--custom" style="--vf-stack-margin--custom: .5rem;">
            <h3>Changelog</h3>
            <details class="vf-details" id="changelog">
                <summary class="vf-details--summary">Changelog</summary>
                <h3>3.0.4</h3>
                <ul>
                    <li>Changed: Test cases added for Angular  <a href="https://github.com/visual-framework/vf-core/issues/1932">Tracking issue</a>
                    </li>
                    <li>Dependency update to be compatible with ESM packages<a href="https://github.com/visual-framework/vf-core/issues/2107">Tracking issue</a>
                    </li>
                </ul>
                <h3>3.0.3</h3>
                <ul>
                    <li>Dependency update <a href="https://github.com/visual-framework/vf-core/issues/1647">Tracking issue</a>
                    </li>
                </ul>
                <h3>3.0.2</h3>
                <ul>
                    <li>Changelog correction <a href="https://github.com/visual-framework/vf-core/issues/2035">Tracking issue</a>
                    </li>
                </ul>
                <h3>3.0.1</h3>
                <ul>
                    <li>Version bump</li>
                </ul>
                <h3>3.0.0</h3>
                <ul>
                    <li>Version bump</li>
                </ul>
                <h3>3.0.0-alpha.2</h3>
                <ul>
                    <li>Fixed lint errors. <a href="https://github.com/visual-framework/vf-core/issues/1935">Tracking issue</a>
                    </li>
                </ul>
                <h3>3.0.0-alpha.1</h3>
                <ul>
                    <li>Added : Angular syntax for different variants as compared to common syntax</li>
                    <li>Added : Experimental React support for Badge component</li>
                </ul>
                <h3>3.0.0-alpha.0</h3>
                <ul>
                    <li>Added : Experimental Angular support for Badge</li>
                </ul>
                <h3>2.0.1</h3>
                <ul>
                    <li>Correct &quot;secondry&quot; typo.</li>
                </ul>
                <h3>2.0.0</h3>
                <ul>
                    <li>makes the badges match the naming convention of the <code>vf-button</code>.</li>
                    <li>makes the badges match the styling of the <code>vf-button</code>.</li>
                    <li>removes any old deprecated variants and tidies up the code.</li>
                </ul>
                <h4>Migration Instructions</h4>
                <ul>
                    <li>If you were using the &quot;Outline Primary&quot; variant you should use the &quot;Secondary&quot; variant now.</li>
                    <li>This replaces the classes of <code>vf-badge--primary</code> and <code>vf-badge--outline</code> with <code>vf-badge--secondary</code>.</li>
                    <li>IF you were using the &quot;Default&quot; variant you should use the &quot;Tertiary&quot; variant now.</li>
                    <li>This adds the class <code>vf-badge--tertiary</code>.</li>
                </ul>
                <h3>1.3.0</h3>
                <ul>
                    <li>deprecates secondary and tertiary variants</li>
                    <li>makes the default the grey (tertiary) colour</li>
                </ul>
                <h3>1.2.2</h3>
                <ul>
                    <li>changes any <code>set-</code> style functions to cleaner version</li>
                </ul>
                <h3>1.2.1</h3>
                <ul>
                    <li>README cleanup</li>
                </ul>
                <h3>1.2.0</h3>
                <ul>
                    <li>makes theme variant naming and decisions consistent</li>
                </ul>
                <h3>1.1.0</h3>
                <ul>
                    <li>adds if statement to allow for context data to pass through</li>
                </ul>
                <h3>1.0.0 (2019-12-17)</h3>
                <ul>
                    <li>Initial stable release</li>
                </ul>
            </details>
        </div>
        <h3>Assets <span id="assets"></span></h3>
        <ul>
            <li>
                <a href="https://stable.visual-framework.dev/assets/vf-badge/vf-badge.njk">Nunjucks template</a>
            </li>
            <li>
                <a href="https://stable.visual-framework.dev/assets/vf-badge/vf-badge.config.yml">Config</a>
            </li>
            <li>
                <a href="https://stable.visual-framework.dev/assets/vf-badge/CHANGELOG.md">CHANGELOG.md</a>
            </li>
            <li>
                <a href="https://stable.visual-framework.dev/assets/vf-badge/vf-badge.angular.component.ts">vf-badge.angular.component.ts</a>
            </li>
            <li>
                <a href="https://stable.visual-framework.dev/assets/vf-badge/vf-badge.css">vf-badge.css</a>
            </li>
            <li>
                <a href="https://stable.visual-framework.dev/assets/vf-badge/vf-badge.react.js">vf-badge.react.js</a>
            </li>
            <li>
                <a href="https://stable.visual-framework.dev/assets/vf-badge/vf-badge.scss">vf-badge.scss</a>
            </li>
        </ul>

        <hr class="vf-divider">
        <br/>
        <p class="vf-text-body vf-text-body--4">
File system location: <code>components/vf-badge</code>
        </p>

        <p class="vf-text vf-text-body--3">
      Find an issue on this page?
      <a class="vf-link" href="https://github.com/visual-framework/vf-core/blob/develop/tools/vf-component-library/src/site/components/component-view.njk">Propose a change</a> or <a href="https://stable.visual-framework.dev/guidance/discussing-the-vf" class="vf-link">discuss it</a>.
    </p>