<section class="vf-content component-library-notes | vf-stack vf-stack--400">
    <section class="vf-intro" id="about">
        <div>
            <!-- empty -->
        </div>

        <div class="vf-stack">
            <h1 class="vf-intro__heading vf-intro__heading--has-tag">Badge
                <a href="https://stable.visual-framework.dev/guidance/component-types/" class="vf-badge vf-badge--primary vf-badge--phases">element</a>
            </h1>
            <p class="vf-lede">
                <span>The <code>vf-badge</code> component is used to denote if a page, section, or link has a production state of <code>alpha</code>, <code>beta</code> or other information.</span>
            </p>

            <p class="vf-intro__text">
                <a class="vf-link" href="https://github.com/visual-framework/vf-core/tree/develop/components/vf-badge"><img src="https://img.shields.io/badge/github-vf--badge-blue" alt="github location"/></a>
                <a class="vf-link" href="https://badge.fury.io/js/%40visual-framework%2Fvf-badge"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-badge.svg" alt="npm version"/></a>
            </p>
        </div>
    </section>

    <hr class="vf-divider">

    <section class="embl-grid">
        <div class="vf-section-header">
            <h2 class="vf-section-header__heading" id="usage"> Usage</h2>
        </div>
        <article>
            <p>The <code>vf-badge</code> accepts a single text item of content.</p>
            <table>
                <thead>
                    <tr>
                        <th>content type</th>
                        <th>variable</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>text</td>
                        <td>
                            <code>text</code>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h3>Links</h3>
            <p>The <code>vf-badge</code> component can also be a link using <code>&lt;a class=&quot;vf-badge&quot; href=&quot;&quot;&gt;badge title&lt;/a&gt;</code>.</p>
            <h3>Nunjucks and yml options</h3>
            <h4>Nunjucks and YML variables available</h4>
            <table>
                <thead>
                    <tr>
                        <th>variable</th>
                        <th>options</th>
                        <th>default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>text</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>badge_href</td>
                        <td></td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>theme</td>
                        <td>'primary'</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>style</td>
                        <td>'outline'</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>override_class</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>id</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h3>Angular</h3>
            <p>As of version 3.0.0-alpha.0 vf-badge has experimental Angular support.
This package was generated with Angular version 15.2.0 and has been tested on application with Angular version 15.2.0.</p>
            <ol>
                <li>install <code>yarn add @visual-framework/vf-badge</code>
                </li>
                <li>import in your app.module<pre><code>import {{ '{' }} VfBadgeAngularModule {{ '}' }} from '@visual-framework/vf-badge/vf-badge.angular';

@NgModule({{ '{' }}
  imports: [VfBadgeAngularModule, YourOtherModules],
  ...
{{ '}' }})
</code></pre>
                </li>
                <li>can be used as<pre><code>&lt;vf-badge [text]=&quot;'alpha'&quot; [theme]=&quot;'primary'&quot; [id]=&quot;'Badge1'&quot;&gt;&lt;/vf-badge&gt;
</code></pre>
                </li>
                <li>add to your styles.scss<pre><code>@import '../node_modules/@visual-framework/vf-sass-config/index.scss';
@import &quot;../node_modules/@visual-framework/vf-badge/vf-badge.scss&quot;;
</code></pre>
you should also install <a href="https://stable.visual-framework.dev/components/vf-sass-starter">vf-sass-starter</a> for the styles</li>
            </ol>
            <p>Usage:</p>
            <pre><code>&lt;vf-badge [text]=&quot;'alpha'&quot; [theme]=&quot;'primary'&quot; [id]=&quot;'Badge1'&quot;&gt;&lt;/vf-badge&gt;
</code></pre>

        </article>
    </section>

    <hr class="vf-divider">

    <h2 id="variants" class="vf-text vf-text-heading--1 vf-text--invert">Variants</h2>

    <div class="vf-section-header">
        <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-badge--primary">
            <a href="#vf-badge--primary">Primary variant</a>
            <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
            </svg>
        </h2>
    </div>

    <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

        <section class="vf-grid vf-grid__col-3">
            <div>
                <!--empty-->
            </div>

            <div class="vf-u-padding--400"
                    style="overflow: auto; background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
                >

                <vf-badge [text]="'alpha'" [theme]="'primary'" [id]="'Badge1'"/>
            </div>

            <div>
                <!--empty-->
            </div>
        </section>

        <details class="vf-details vf-box vf-box--outline">
            <summary class="vf-details--summary">Angular syntax</summary>

            <pre><code>&lt;vf-badge [text]=&quot;&#39;alpha&#39;&quot; [theme]=&quot;&#39;primary&#39;&quot; [id]=&quot;&#39;Badge1&#39;&quot;/&gt;
                  </code></pre>

        </details>
    </article>

    <article class="vf-stack vf-stack--lg vf-u-margin__bottom--1200"
                   style="clear: both; /* insurance against strange components */"
          >

        <hr class="vf-divider">
        <h2 id="examples" class="vf-text vf-text-heading--1 vf-text--invert">Examples</h2>

        <section class="vf-grid vf-grid__col-3">

            <section>
                <div class="vf-section-header">
                    <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-badge--secondary">
                        <a href="#vf-badge--secondary">Secondary</a>
                        <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
                        </svg>
                    </h2>
                </div>

                <article class="vf-u-padding--400"
                  style="background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
              >

                    <vf-badge [text]="'alpha'" [theme]="'secondary'" [style]="['primary', 'secondary']"></vf-badge>
                </article>

            </section>

            <section>
                <div class="vf-section-header">
                    <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-badge--tertiary">
                        <a href="#vf-badge--tertiary">Tertiary</a>
                        <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
                        </svg>
                    </h2>
                </div>

                <article class="vf-u-padding--400"
                  style="background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
              >

                    <vf-badge [text]="'alpha'" [theme]="'tertiary'" [id]="'Badge2'"></vf-badge>
                </article>

            </section>

            <section>
                <div class="vf-section-header">
                    <h2 class="vf-section-header__heading vf-section-header__heading--is-link" id="vf-badge--link---primary">
                        <a href="#vf-badge--link---primary">Link Primary</a>
                        <svg aria-hidden="true" class="vf-section-header__icon | vf-icon vf-icon-arrow--inline-end" width="1em" height="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12S18.627 0 12 0C5.376.008.008 5.376 0 12zm13.707-5.209l4.5 4.5a1 1 0 010 1.414l-4.5 4.5a1 1 0 01-1.414-1.414l2.366-2.367a.25.25 0 00-.177-.424H6a1 1 0 010-2h8.482a.25.25 0 00.177-.427l-2.366-2.368a1 1 0 011.414-1.414z" fill="" fill-rule="nonzero"></path>
                        </svg>
                    </h2>
                </div>

                <article class="vf-u-padding--400"
                  style="background-image: linear-gradient(45deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(135deg, rgba(59, 111, 182, .1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(59, 111, 182, .1) 75%), linear-gradient(135deg, transparent 75%, rgba(59, 111, 182, .1) 75%);background-size: 20px 20px; background-position-x: 0px, 10px, 10px, 0px;background-position-y: 0px, 0px, -10px, 10px;"
              >

                    <vf-badge [text]="'beta'" [theme]="'primary'" [id]="'BadgeHref'" [badge_href]="'JavaScript:Void(0);'"></vf-badge>

                </article>

            </section>

        </section>